.wrapper {
  display: flex;
  width: 100vw;
  height: 80vh;
  margin: auto 0px;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  margin: auto 0px;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.Buttondisable {
  background-color: black;
  color: aliceblue;
}

.Buttonenable {
  background-color: rgb(88, 236, 34);
}
.accordion {
  width: 500px;
}

.item {
  background-color: brown;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.title {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.answer {
  color: antiquewhite;
  height: auto;
}
